@import url(https://fonts.googleapis.com/css?family=Fjalla+One);


*,
*:before,
*:after {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}


body {
    color: black;
    font-family: Helvetica, Sans-Serif;
    text-align: center;
}

section	{
	position: relative;
}


h1 {
    color: #2A6B8B;
    font-size: 60px;
    font-family: 'Fjalla One', Sans-Serif;
}

.text {
	padding-left: 30px;
	padding-right: 30px;
}

.header	{
	color: #2A6B8B;
    font-size: 60px;
    font-family: 'Fjalla One', Sans-Serif;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.button	{
	background-color: #ffffff;
    border: none;
    color: #2A6B8B;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}


.image { 
   position: relative; 
   width: 100%;
   display: block;

}


h2 { 
    font-family: 'Fjalla One', Sans-Serif;
    font-size: 50px;
    color: white;
    width: 100%; 
}


#floattext { 
    font-family:  arial, Sans-Serif;
    font-size: 18px;
    color: white;
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%);
    width: 100%; 
    line-height: 1.5em;
}



#services {
    font-family: 'Fjalla One', Sans-Serif;
	font-size: 35px;
	color: black;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2A6B8B;

}

h3 { 
    font-family: 'Fjalla One', Sans-Serif;
    font-size: 20px;
    color: #8A663A;
    top: 140px; 
    left: 0; 
    width: 100%; 
}


.service-option
            {
            	width: 33.33%;
                float: left;
                margin-top: 30px;
            }
