@import url(https://fonts.googleapis.com/css?family=Fjalla+One);


*,
*:before,
*:after {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}


body {
    color: black;
    font-family: Helvetica, Sans-Serif;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A6B8B;
    text-align: center;
}

nav li {
    display: inline;
    text-align: center;
}

nav li a {
    font-family: Helvetica, Sans-Serif;
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav li a:hover {
    color: #E6E7E8;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


section	{
	position: relative;
}


h1 {
    color: #2A6B8B;
    font-size: 60px;
    font-family: 'Fjalla One', Sans-Serif;
}

.text {
	padding-left: 60px;
	padding-right: 60px;
    line-height: 1.1em;
}

p {
    font-family: Helvetica, Sans-Serif;
    line-height: 1.1em;
}


.header	{
	color: #2A6B8B;
    font-size: 60px;
    font-family: 'Fjalla One', Sans-Serif;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.button	{
	background-color: #ffffff;
    border: none;
    color: #2A6B8B;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.button:hover {
    background-color: #2A6B8B;
    color: white;
}

.image { 
   position: relative; 
   width: 100%;
   display: block;

}

#floattext { 
    font-family:  arial, Sans-Serif;
    font-size: 18px;
    color: white;
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%);
    width: 100%; 
    line-height: 1.5em;
}


#slogan {
    font-family: 'Fjalla One', Sans-Serif;
    font-size: 45px;
    color: black;
    margin-top: 30px;
    color: white;
}


.service-option {
    font-family: 'Fjalla One', Sans-Serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #2A6B8B;
}

#services {
    font-family: 'Fjalla One', Sans-Serif;
	font-size: 35px;
	color: black;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2A6B8B;

}


h3 { 
    font-family: 'Fjalla One', Sans-Serif;
    font-size: 20px;
    color: #8A663A;
    top: 140px; 
    left: 0; 
    width: 100%; 
}




.service-option
            {
            	width: 33.33%;
                float: left;
                margin-top: 30px;
            }

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    padding: 20px;
    float: left;
    width: 65%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

#right {
    background-color: #E8E8E8;
    padding: 20px;
    margin: 20px;
    float: right;   
    width: 28%;
    text-align: left;
}

hr  {
    margin-top:10px;
    margin-bottom: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


footer  {
    margin-top: 20px;
}
